{% extends "base.html" %}
<!-- Update the title of the page -->
{% block title %}Images{%endblock%}
<!-- Set the images link on the navbar to active and the rest to inactive -->
{% block nav_links %}
<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link" href="/albums">Albums</a></li>
<li class="nav-item"><a class="nav-link" href="/videos">Videos</a></li>
<li class="nav-item active"><a class="nav-link" href="/images">Images</a></li>
{% endblock %}
{% block content %}
<!-- Image Gallery -->
<div class="row">
    <!-- Column 1 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="{{ url_for('static', filename='images/gallery/1.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/2.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/3.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/4.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/5.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/6.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
    </div>
    <!-- Column 2 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="{{ url_for('static', filename='images/gallery/7.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/8.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/9.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/10.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/11.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/12.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
    </div>
    <!-- Column 3 (not displayed on medium screens)-->
    <div class="col-lg-4 col-md-6 col-sm-12 d-lg-block d-md-none">
        <img src="{{ url_for('static', filename='images/gallery/13.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/14.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/15.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/16.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
        <img src="{{ url_for('static', filename='images/gallery/17.jpg') }}"
            class="w-100 rounded mb-lg-4 mb-md-4 mb-sm-0">
    </div>
</div>
{% endblock %}